{%extends 'base.html'%}
{%load static%}
{%block body%}
<div class="container">
    <div class="row" style="background-image: url('{%static "img/bg1.png"%}');">
        <b style="margin: 30px;font-size:40px; color:white;">About PR Softwares</b>
    </div>
    <div class="row">
        <div class="col-md-8">
           <b style="font-size: 32px;">About Software Coaching Center in Hyderabad <span style="color:darkgoldenrod"><em>- PR Softwares</em></span></b>
           <p style="color:darkgoldenrod; font-size: 20px;">==================== </p>
           <p style="font-size: 14px;">
            If you are experiencing heart and mind combat “Do I know enough about Software Development?” “Which software coaching center in Hyderabad is the best for training?” Then PR Softwares is the apt destination for you. We are a group of professionals wanting to bring a change in technical education system teaching in a corporate style easing your thoughts, ideas and blending them with strong technical fundamentals, channelize with the right technical expertise in the IT world. PR Softwares, is an all-in-one solution for all software courses in Hyderabad, especially programming.
            
            We are in this training industry for more than 8 years and till now we have trained more than 10000+ students. It is a big achievement for us and we take pride in achieving our goals. Join us now to become a professional Software develope</p>
        </div>
        <div class="col-md-4">
            <img src="{%static 'img/about.png'%} " style="width:400px">
        </div>
    </div>
</div>

{%endblock%}